{% extends 'admin/change_form.html' %}

{% load i18n %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        <input style="background: #c8c679;"
               type="submit" value="{% trans 'Preview' %}" name="_preview" formtarget="_blank">
        <input style="background: #79aec8;"
               type="submit" value="{% trans 'Test' %}" name="_send_test">
        <input style="background: #79c8ab;"
               type="submit" value="{% trans 'Send' %}" name="_send">
    </div>
{% endblock %}
