{% load i18n %}


{% block conditions %}{% endblock conditions %}

<form method="post" action="{% url 'unicms_newsletter:newsletter_subscribe_unsubscribe' %}">
    {{ form }}
    {% if csrfmiddlewaretoken %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrfmiddlewaretoken}}" />
    {% else %}
    {% csrf_token %}
    {% endif %}
    <button class="btn btn-primary mt-4 me-2" type="submit">{% trans "Subscribe" %}</button>
    {% block unsubscribe_button %}
    {% endblock unsubscribe_button %}
</form>
