{% extends this_string_will_be_replaced %}

{% load i18n %}
{% load static %}

<!-- load custom template tags -->
{% load unicms_contexts %}
{% load unicms_pages %}
{% load unicms_templates %}

<!-- SEO  -->
{% block page_title %}Newsletter {{ newsletter.name }}{% endblock page_title %}
{% block page_meta_description %}{{ newsletter.name }}{% endblock page_meta_description %}

{% block container %}

{% get_current_language as LANGUAGE_CODE %}
{% settings_value "CMS_PATH_PREFIX" as cms_prefix %}
{% settings_value "CMS_NEWSLETTER_VIEW_PREFIX_PATH" as cms_newsletter_view_prefix %}
{% settings_value "CMS_NEWSLETTER_MESSAGE_SUB_PATH" as cms_newsletter_message_path %}

{% breadcrumbs webpath=webpath leaf=handler %}

<div class="container py-5">

    {% if custom_messages %}
    <!-- Messaggi di sistema-->
    <div class="messaggi mb-4">
        {% for message in custom_messages %}
        <div class="mb-0 alert alert-{{ message.tags }}
                   {% if 'error' in message.tags%} alert-danger{% endif %}
                   {% if not forloop.first %}mt-1{% endif %}"
             role="alert">
                {{ message|safe }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <h1 class="mb-4 lighter">
                {{ newsletter.name }}
            </h1>
            {% if newsletter.description %}
            <p>{{ newsletter.description }}</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card-wrapper card-space">
                <div class="card card-bg no-after">
                    <div class="card-body">
                        <div class="row" id="sendings"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-wrapper card-space">
                <div class="card card-bg no-after">
                    <div class="card-body">
                        {% include "newsletter/subscribe_unsubscribe.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
Vue.component('list-panel', {
    props: {
        data: Array,
    },
    template: `

        <div class="row">
            <div class="col w-50" v-if="data.total_pages > 1">
                <span style="color:#050b12;">
                    <b>[[ data.count || 0]] {% trans "results" %}</b> in <b>[[ data.total_pages || 0 ]] {% trans "pages" %}</b>
                </span>
            </div>
            <div class="col w-50" v-else>
                <span style="color:#050b12;">
                    <b>[[ data.count || 0]] {% trans "results" %}
                </span>
            </div>

            <div class="col w-50" v-if="data.total_pages > 1">
                <div class="float-right">
                    <span>
                        <a style="color:#050b12;" @click="news.callURL( [[ data.previous]] )" v-if="data.previous">
                            <span class="sr-only"> {% trans "Page" %} </span> &lt; {% trans "Previous" %}
                        </a>
                    </span>

                    <span class="mr-2 ml-2" >[[ data.page ]] / <b>[[ data.total_pages ]]</b></span>
                    <a style="color:#050b12;" @click="news.callURL( [[ data.next ]] )"  v-if="data.next">
                        <span class="sr-only">{% trans "Page" %} </span>{% trans "Next" %} &gt;
                    </a>
                </div>
            </div>
        </div>
    `
})


var news = new Vue({
  el: '#sendings',
  template: `
    <div v-if="!sendingsLoaded">
        <div>
            <div class="progress progress-indeterminate my-3">
                <span class="sr-only">{% trans "Loading data" %}</span>
                <div class="progress-bar" role="progressbar"></div>
            </div>
        </div>
    </div>
    <div v-else>

        <list-panel v-bind:data="items"></list-panel>
        <hr>
        <div v-if="items">
            <div class="row">
                <ul class="mb-0">
                    <li v-for="item in items.results">
                        <a target="_blank" :href="item.html_file">
                            [[ item.message_name ]]
                        </a>
                         - [[ new Date(item.date).toLocaleString("{{ LANGUAGE_CODE }}",
                                                                {day: '2-digit',
                                                                 month: '2-digit',
                                                                 year: 'numeric',
                                                                 hour: '2-digit',
                                                                 minute:'2-digit'}) ]]
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <list-panel v-bind:data="items"></list-panel>
    </div>
    `,
    data () {
        return {
            items: [],
            sendingsLoaded: false,
            selected_search: '',
            url: '{{ url|safe }}'
        }
    },
    mounted(){
        this.callURL(this.url)
    },
    methods: {
        callURL (url) {
            axios
                .get( url )
                .then(response => {
                    this.items = response.data
                    this.sendingsLoaded = true
                    this.scrollToTop()
                })
        },
        search() {
            this.parameters = '&search=' + this.selected_search
            this.newsLoaded = false
            this.callURL(this.url + this.parameters);
        },
        scrollToTop () {
            // faulty on mobile ...
            window.scrollTo({top:100, left:0, behavior: 'smooth'});
        }
    }
})
</script>
{% endblock container %}
